@page "/Single"

@inject TenantProvider TenantProvider
@inject IDbContextFactory<SingleDbContext> Factory

<h1>Single Database</h1>

<p>Your current tenant is: <strong>@TenantProvider.GetTenant()</strong></p>

<p><a href="/">Back to tenant selection</a></p>

@if (methods != null)
{
	foreach (var method in methods)
	{
		<MethodItem MethodToDisplay="@method"/>
	}
}

@code {
	protected override async Task OnInitializedAsync()
	{
		using var context = Factory.CreateDbContext();
		methods = await context.Methods.ToListAsync();
		await base.OnInitializedAsync();
	}

	private List<DataMethod> methods = null;
}
